.rodape {
  height: 5vh;


  margin: 0.2% 0.2% 0.2% 0.2%;
  background-color: #f7daae;

  font-size: 12px;

  padding-top: 0.9%;
  padding-left: 2%;

  box-shadow: 0.1% 0.1% #0e89af;

  color: black;

  text-align: center;
}

