.corretor {
  background-color: #91c4e1 ;
  text-align: center;
  height: 20vh;
}

legend {
  width: 100vw;
  background-color: #91c4e1;
  color: white;
}


table {
  width: 0vw;
}

#titulo {
  background-color: #f7daae;
  padding-top: 0.1vh;
  
}

#t_codigo{
  width: 1vw;
}

#t_nome{
  width: 50vw;

}
#t_telefone{
  width: 50vw;

}
#t_crea{
  width: 50vw;

}

#t_dtinclusao{
  width: 15vw;
}

#t_dtalteracao{
  width: 15vw;
}

#novo {
  width: 10vw;
;
}
thead{
  background-color: #f7daae;
  width:max-content;
}



tbody > tr {
  height: 0.2vh;
  border: 0.0vh;
  

}

#p_codigo{
  width: 1vw;
  text-align: left;
  padding-right: 0.5vw;
  
}

#p_nome{
  width: 50vw;
  padding-left: 0.5vw;  
  text-align: center;

}
#p_telefone{
  width: 50vw;
  padding-left: 0.5vw;  
  text-align: center;
}
#p_crea{
  width: 50vw;
  padding-left: 0.5vw;  
  text-align: center;
}

#p_dtinclusao{
  width: 10vw;
  text-align: left;
}

#p_dtalteracao{
  width: 10vw;
  text-align: left;
}

#btnEditar{
  width: 2vw;
}

#btnAlterar{
  width: 2vw;
}





